.container{
    margin: auto;
    max-width: 1140px;
    padding: 10px;
}
a{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    font-weight: 700;
    margin-left: 10px;
}